@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body { 
    transition: all 1s;
    height: 100%;
    background-color: white;
    width: 100%;
}

::-webkit-scrollbar {
    background-color: ghostwhite;
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #e30ae3;
    border-radius: 50px;
}
.loader{
    position: fixed;
    height: 100%;
    background-color: #e9e9ff;
    width: 100%;
    z-index: 10;
   
}
.load{
    z-index: 1;
    position: relative;
    top: 0px;
    width: 510px;
    height: 600px;
    left: 32%;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name {
    position: relative;
    font-family: "Roboto", sans-serif;
    margin: 14px 19px;
    font-size: 13px;
    text-wrap: nowrap;
    left: 0px;
    transition: all 1s;
}
.name-animate{
    left: -203px;

}
.dot {
    position: relative;
    top: -37px;
    font-weight: bolder;
    left: 130px;
    font-size: 35px;
    color: #a905ed;

}

.options {
    list-style: none;
    display: flex;
}

.goto-top {
    font-size: 33px;
    background-color: #e30ae3;
    color: white;
    margin-right: 12px;
    border-radius: 8px;
    padding: 2px 4px;
    opacity: 0;
    cursor: pointer;
    position: fixed;
    top: 80%;
    left: 1303px;
    transition: all 1s;
    z-index: 100;
}

#top {
    transform: rotate(180deg);
}

.nav {
    margin: 10px 55px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
    padding: 3px 10px;
    font-family: "Radio Canada Big", sans-serif;
    font-weight: bolder;
    transition: all 0.6s ease-in-out;
    border-bottom-width: 0;
}

.nav:hover {
    color: #8b08c1;
}

.nav:before {
    content: "";
    background: #8b08c1;
    width: 0%;
    display: block;
    position: relative;
    top: 95%;
    height: 5px;
    transition: 1s all ease;
}

.nav:hover::before {
    width: 100%;
}

.theme {
    position: relative;
    right: 43px;
    width: 60px;
    top: 10px;
}

.icon {
    color: #a905ed;
    font-size: 37px;
    cursor: pointer;
    transition: all 1s ease-in;
}

.icon1 {
    color: white;
    cursor: pointer;
    transition: all 1s ease-in;

}
.burger{
    width: 53px;
    cursor: pointer;
    display: none;
    position: relative;
    top: -182px;
    float: right;
    right: -151px;
}
.lines{
    width: 39px;
    height: 7px;
    background-color: #8b08c1;
    margin: 7px;
    position: relative;
}
.section-1 {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.left {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Hey {
    position: relative;
    margin-left: 60px;
    margin-top: 40px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 20px;
    transition: all 1.5s;
    top: 0px;
}
.hello{
    top: -35px;
}
.auto-typed {
    margin-left: 250px;
    font-size: 46px;
    font-family: "Radio Canada Big", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #8b08c1;
    text-wrap: nowrap;
    transition: all 1.5s;
}
.auto-typed-animation{
    margin-left: 150px;
}
.typed-cursor {
    font-size: 45px;
    color: #8b08c1;
}

.message {
    position: relative;
    top: 20px;
    left: 95px;
    font-family: "Kanit", sans-serif;
    font-style: italic;
    font-weight: 400;
    color: #5a5959;
}

.btns {
    position: relative;
    transition: all 1s;
    text-align: center;
    top: 0px;
}
.btns-animation{
    top: 30px;
}
.btn {
    padding: 12px 11px;
    margin: 36px 75px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
}

#btn1 {
    background: linear-gradient(to right, black 50%, rgb(225 224 224) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 1s;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

#btn1:hover {
    color: white;
    background-position: left bottom;
    transform: scale(0.9);

}

#btn2 {
    background: linear-gradient(to right, rgb(196, 196, 196) 50%, black 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 1s;
    color: white;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

}

#btn2:hover {
    color: black;
    background-position: left top;
    transform: scale(0.9);

}

.right {
    width: 40%;
}

.Moeez {
    width: 169px;
    height: 159px;
    position: relative;
    left: 60px;
    top: 140px;
    border-radius: 200px;
    cursor: pointer;
    transition: all 0.7s ease;
    opacity: 0;
}

.Moeez:hover {
    transition: all 1s ;
    transform: scale(1.5)
}

.pic {
    opacity: 1;
    position: relative;
    left: 260px;
    transition: all 2s ease-in;
}

.section-2 {
    margin-top: -40px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.about {
    position: relative;
    top: 83px;
    font-size: 55px;
    font-family: "Radio Canada Big", sans-serif;
    font-weight: 700;
    margin-left: 90px;

}

.dot1 {
    color: #8b08c1;
    font-size: 70px;

}

#message {
    position: relative;
    top: 143px;
    width: 53%;
    height: 81px;
    left: 121px;
}
#message::before {
    position: absolute;
    content: '';
    width: 6px;
    display: block;
    left: -3%;
    background-color: #a905ed;
    height: 40px;}


.stocks {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30vh;
    width: 100%;

}

.my-stocks {
    display: flex;
    margin-left: 90px;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    margin-top: 172px;
}
.about-message{
    display: flex;
    align-items: end;
    position: relative;
    top: 96px;
    left: 571px;
    width: 600px;
    font-size: 15px;
    font-family: "Radio Canada Big", sans-serif;
}
.about-name{
    font-weight: 500; 
    color: black;
}
.auto{
    font-family: "Radio Canada Big", sans-serif;
    font-size: 23px;
    margin-left: 10px;
    font-weight: bolder;
    color: #8b08c1;

}
.experience{
    position: relative;
    top: 114px;
    left: 571px;
    width: 51%;

}
.experience-para{
    font-family: "Kanit", sans-serif;
    font-style: italic;
    font-weight: 400;
    color: #5a5959;
}
.my {
    display: flex;
    text-wrap: nowrap;
}

.my-places {
    margin-left: 490px;
    margin-top: 4px;
    font-size: 20px;

}

.dot2 {
    position: relative;
    left: 2px;
    top: -40px;
}

.dot3 {
    top: -30px;
    position: relative;
    font-size: 60px;

}
.height-110vh{
    height: 110vh;
}
.skills {
    position: relative;
    width: 380px;
    height: 286px;
    left: 128px;
    background-color: rgb(203 197 163);
    border-radius: 10px;
    top: -11px;
    padding: 0px 10px;
    overflow: hidden;
    z-index: 10; 
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    transition: all 1s;
    cursor: pointer;
}
.skills:hover,.place:hover{
    transition: all 1s;
    transform: scale(1.04);
}
.one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 23px;
    z-index: -10;
    position: relative;
    overflow: hidden;
}

.stars {
    color: #8b08c1;
    font-size: 30px;
    margin-top: -5px;
    font-weight: bold;
}
.ski{
    display: flex;
    position: relative;
    transition: all .5s;
    animation: moving 15s 1s infinite linear;
}
@keyframes moving {
    0%{
        left: 0px;
    }
    100%{
        left: -990px;
    }
}
.ski1{
    position: relative;

}
.elements {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 6px 19px;
    padding-bottom: 12px;
    border-radius: 10px;
    margin: 0px 3px;
    text-wrap: nowrap;
}

.elements-2 {
    text-wrap: nowrap;
    margin: 2px 3px;
}


#JS {
    position: relative;
    left: -157px;
    margin-right: -144px;

}

#node {
    position: relative;
    right: -42px;


}

#resolve {
    position: relative;
    left: -69px;
    margin-right: -45px;

}

#star-animation {
    position: relative;
    right: -28px;
}

.place {
    position: relative;
    width: 413px;
    right: -719px;
    background-color: rgb(203 197 163);
    border-radius: 10px;
    top: -299px;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    transition: all 1s;
    cursor: pointer;
}

.img {
    position: relative;
    top: 88px;
    left: 70px;
}

.image {
    width: 304px;
    height: 276px;
    filter: grayscale(1);
}

.dotted {
    position: relative;
    color: purple;
    top: -206px;
    font-weight: bold;
    font-size: 73px;
    text-shadow: -1px 0px 20px #a905ed;
    left: -210px;
}

.section-3 {
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.Experience {
    display: flex;
    font-family: "Radio Canada Big", sans-serif;
    font-size: 27px;
    margin-left: 100px;
}

.arrow {
    color: red;
    position: relative;
    top: 9px;
    left: 7px;
    font-size: 38px;
    animation: colors infinite 0.5s forwards;
}

@keyframes colors {
    0% {
        color: red;
        top: -3px;
    }

    50% {
        color: orange
    }

    100% {
        color: rgb(255, 0, 128);
        top: 9px;
    }
}

.my-skills {
    height: 420px;
    position: relative;
    left: -1100px;
    transition: all 1s;
    top: 5%;
}

.my-skills::before {
    display: block;
    content: "";
    background: gray;
    width: 5px;
    height: 54%;
    position: relative;
    left: 269px;
    top: 41px;
    border-radius: 69px;
}

.purple-color {
    transition: all 1s;
    display: block;
    content: '';
    position: relative;
    left: 269px;
    top: 17%;
    border-radius: 33px;
    width: 5px;
    height: 13%;
    background: purple;
}

.main {
    display: flex;
    height: 50px;
    position: relative;
    top: -62%;
    flex-direction: column;
    left: 316px;
    width: 20%;
    row-gap: 85%;

}
.names {
    font-size: 23px;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
    color: #a905ed;
    cursor: pointer;
    transition: all 0.5s;
}
.sk{
    position: relative;
    top: -265px;
    left: 512px;
    width: 500px;
}
.description {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: "Radio Canada Big", sans-serif;
    font-weight: 500;
    width: 80%;
    color: #5a5959;
    margin-top: 18px;
    top: 96%;
}

.quoted-text {
    font-style: italic;
    color: black;
}

.time {
    font-family: sans-serif;
    font-weight: bolder;
    display: block;
    text-align: center;
    margin-top: 5px;
    color: #e30ae3;
}

.project-image {
    display: block;
    margin: 0px auto;
    width: 30%;
    height: 40%;
}

.pro {
    color: black;
    font-family: "Radio Canada Big", sans-serif;
    margin-left: 61px;
    font-size: 40px;
    margin-top: -156px;
}

.dott {
    position: relative;
    left: 220px;
    font-size: 54px;
    top: -60px;
}

.going {
    display: block;
    background: linear-gradient(69deg, #ff0bed, #b800ff);
    margin: 40px auto;
    font-size: 25px;
    padding: 7px 15px;
    border-radius: 11px;
    box-shadow: -2px 2px 8px 1px #ab8ea9;
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-wrap: nowrap;
    width: fit-content;
}

.scroll {
    text-align: center;
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;

}

.skills-section {
    height: 55vh;
    margin-top: 35px;
}

.skill-head {
    font-family: "Radio Canada Big", sans-serif;
    font-size: 43px;
    margin-left: 82px;

}

.dot-skills {
    position: relative;
    top: -60px;
    left: 189px;
    font-size: 50px;
}

.all-skills {
    display: flex;
    justify-content: space-around;
}

.skills-of-web {
    font-family: "Ubuntu", sans-serif;
}

.skill-heading {
    font-weight: 700;

}

.skill-para {
    font-family: "Kanit", sans-serif;
    color: #5a5959;
    font-weight: 500;
    padding: 7px 0px;
}

.contact-section {
    height: 105vh;
    margin-top: 55px;
}

.Contact-me {
    font-family: "Radio Canada Big", sans-serif;
    font-size: 30px;
    text-align: center;
}
.forms{
    transition: all 1s;
    position: relative;
    left: -900px;

}
.inputs {
    display: block;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 15px;
    margin: 41px auto;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
}

.inputs:focus {
    box-shadow: 1px 1px 9px 0px #8b08c1;
    font-weight: 400;
}
.contact-btn{
    padding: 9px 11px;
    background-color: #e30ae3;
    color: white;
    border-radius: 10px;
    margin: 0px auto;
    display: block;
    cursor: pointer;
    font-size: 15px;
    overflow: hidden;
    transition: all 1s;
    border: none;
}
.contact-btn:hover{
    transition: all 1s;
    box-shadow: 0px 5px 8px 2px #e30ae3;
    transform: scale(0.9);
}
.plane{
    color: white;
    font-size: 20px;
}
.social-medias{
    position: relative;
    width: 35px;
    top: -520px;
    left: 15px;

}
.logos{
    font-size: 35px;
    color: black;
    animation: logo 2s infinite linear 0s;
    transition: all 1s;
    margin: 12px 12px;
    text-decoration: none;
    
}
.logos:hover{
  color: #e30ae3;
 
}

@keyframes logo {
    0%{
        transform: rotate(0deg);

    }
   
    100%{
        transform: rotate(20deg);


    }

}
.name-of-logo{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    top: -40px;
    opacity: 0;
    transition: all 1s;
    z-index: -10;
    cursor: none;
}
.site-footer
{
  background-color:#e30ae3;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:white;
  margin-top: -200px;
  font-family: "Radio Canada Big", sans-serif;

}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
    color: yellow;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right;
  margin-right: 12px;

}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
text-align: center;
font-size: 17px;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.dark-theme{
    transition: all 1s;
   background-color: #0a092d;
   .name{
    color: white;
   }
   .dot,.dot1{
    color: orange;
   }
   .nav{
    color: white;
   }
   .nav::before{
    background-color: orange;
   }
   .Hey{
    color: white;
   }
   .auto-typed{
    color: orange;
   }
   .typed-cursor{
    color: orange;
   }
   .message{
    color: white;
    
   }
  .about{
    color: white;
  }
  .experience-para{
    color: white;
  }
  #message::before{
   background-color:  orange;
  }
  .my,.my-places{
    color: white;
  }
  .about-message{
    color: white;
  }
  .about-name{
    color: orange;
  }
  .auto{
    color: orange;
  }
  .skills,.place{
    filter: drop-shadow(1px 1px 2px white);
  }
  .pro,.Experience,.Contact-me{
    color: white;
  }
  .quoted-text{
    color: orange;
  }
  .description,.skill-head{
    color: white;
  }
  .skill-heading{
    color: orange;

  }
  .skill-para{
        color: white;
  }
  .inputs:focus{
    box-shadow: 1px 1px 9px 0px white;
  }
  .contact-btn{
    background-color:  orange;

    color: black;
  }
  .contact-btn:hover{
    box-shadow: 0px 5px 8px 2px cyan;

  }
  .logos{
    color: white;
  }
  .logos:hover{
    color: yellow;
  }
  .name-of-logo{
    color: yellow;
    text-shadow: 2px 2px 13px yellow;
  }
 .site-footer{
    background-color: orange;
    color: black;
 }
 .site-footer a{
    color: white;
 }
  .goto-top{
    background-color:  orange;

  }
  
}
.lines-burger{
    .line-1{
        transition: all 1s;
        transform: rotate(49deg);
        width: 50px;
        top: 13px;
    }
    .line-2{
        transition: all 1s;
        transform: rotate(130deg);
        width: 50px;
        right: 2px;
    }
    .line-3{
        display: none;

    }
    
}
@media screen and (max-width:930px) {
    .burger{
        display: block;
   }
   .navbar{
    flex-direction: column;
    align-items: baseline;
   }
   .theme{
    position: relative;
    right: -459px;
    width: 60px;
    top: -139px;
}
   .options{
    justify-content: center;
    position: relative;
    top: -400px;
    transition: all 1s;
    
}
.burger-use{
    transition: all 0.5s;
    top: 0px;
    left: 205px;
}
.btns{
    display: flex;
    text-wrap: nowrap;
}
.about-message,.experience{
    left: 271px;
}
.place{
    right: -641px;
}
.skills{
    left: 82px;
}
.my{
    margin-right: -71px;
}
.height-110vh{
    height: 60vh;
}
.section-3{
    height: 44vh;
}
.swiper-slide{
    width: 116%;
}
.skills-section{
    height: 33vh;
}
.contact-section{
    height: 77vh;
}
.site-footer{
    width: 1082px;
}
.goto-top{
    left: 1010px;
}
.load{
    top: 250px;
}
}