.flex {
    display: flex;

}

.about-left,
.about-right {
    width: 25%;
    margin: 2% 6%;
    height: 100%;
    position: relative;
    z-index: 8;
}

.about-left img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
    transition: transform 0.4s;
    transform: scale(1);
    position: relative;
}

.about-left img:hover {
    transform: scale(0.95);
}

.left-border {
    width: 94%;
    height: 97%;
    border: 10px solid #e1e1e1;
    position: absolute;
    top: 43px;
    z-index: -10;
    left: 53px;
}

.about-right {
    margin: 7% 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
}

.head {
    font-size: 20px;
    font-weight: 500;
}

.typed-animation {
    color: #cb2d3e;
    font-size: 20px;
    font-weight: 500;
}

.typed-cursor {
    color: #cb2d3e;
    font-size: 20px;
}

.right-para {
    color: #afb3b8;
}

.icons {
    margin-top: 14px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 10px;
}

.logo-ic,
.ic {
    display: flex;
    align-items: center;
}

.ic {
    gap: 15px;
    width: fit-content;
}

.logo-ic {
    gap: 7px;
}

.icons-about {
    color: #cb2d3e;
    font-weight: 600;
    font-size: 17px;
    user-select: none;
}

.degree {
    font-weight: 600;

}

.about-degree-name {
    color: #afb7c3;
    text-wrap: wrap;
}

.button {
    width: fit-content;
    margin-top: 21px;
    cursor: pointer;

}

.anchor {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    border-radius: 50px;
    border: 2px solid #cb2d3e;
    padding: 14px 35px 13px;
    overflow: hidden;
    position: relative;
    outline: none;
}

.anchor span {
    font-weight: 500;
}

.anchor:hover {
    color: #4e484a;
}

.button a::before {
    position: absolute;
    content: "";
    z-index: 0;
    background-color: #cb2d3e;
    left: -5px;
    right: -5px;
    bottom: -5px;
    height: 111%;
    transition: all .3s ease;
}

.button a:hover::before {
    height: 11%;
}

.button span {
    position: relative;
    z-index: 2;
    transition: all .3s ease;
}
@media  screen and (max-width:1200px) {
   .about-left{
    width: 30%;
   }
   .about-right{
    margin: 5px;
   }
   .left-border{
    height: 93%;
    left: 32px;
   }
   .icons{
    margin-top: 0; 
    grid-template-columns: repeat(1, 1fr);
    gap: 18px 10px;
   }
   
}
@media  screen and (max-width:750px) {
  .flex{
    flex-direction: column;
    align-items: center;
    gap: 39px;

  }
  .about-right{
    width: 80%;
  }
   .about-left{
    width: 42%;
   }
   .about-tail {
    font-size: 55px;
    left: -29px;
    top: -7px;
}
.swiper-t{
    left:74px
  }
}