.container {
    position: absolute;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: self-end;
    justify-content: center;
    bottom: 0;
    height: 100%;
    overflow: hidden;
}


.left * {
    width: fit-content;
}

.left {
    margin: 0 0 51px 93px;
    width: 50%;
    padding-left: 2%;
}

.heading {
    color: #cb2d3e;
    font-weight: 500;
    font-size: 33px;

}

.para {
    color: rgb(255 255 255 / 50%);
    width: 56%;
    margin-top: 20px;
}

.my-name {
    font-weight: 600;
    color: white;
    font-size: 48px;
}

.my-name-me {
    font-weight: 500;
    color: white;
    font-size: 50px;
}

.contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: #cb2d3e;
    color: white;
    padding: 12px 18px;
    font-size: 15px;
    border-radius: 10px;
    margin: 28px 0px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s linear 0s;
}

.contact-btn:hover {
    transform: translateY(-4px);
    box-shadow: 1px 0px 0px 1px #3d3d3d;
}

.my-image {
    width: 60%;
    max-width: 80%;
}

.right {
    position: relative;
    width: 42%;
    overflow: hidden;
}

.right::before {
    content: "";
    position: absolute;
    top: 0rem;
    right: 2rem;
    width: 10rem !important;
    height: 10rem !important;
    z-index: -1;
    right: 5rem;
    border-radius: 50%;
    background-color: rgba(203, 45, 62, .6);
}

.right::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    right: -7rem;
    width: 12rem;
    height: 25rem;
    border-radius: 50%;
    z-index: -1;
    background-color: rgba(203, 45, 62, .6);

}

.my-image {
    transition: transform 0.2s ease;

}

@media screen and (max-width:830px) {
    .right {
        width: 60%;
    }

}

@media screen and (max-width:1200px) {


    .right::before {
        width: 5rem !important;
        height: 5rem !important;
        right: 1rem;
    }

    .left {
        margin: 0 0 20px 15px;
    }

    .right::after {
        right: -6rem;
        width: 9rem;
        height: 20rem;
    }
}

@media screen and (max-width:650px) {
    .name {
        display: none;
    }

    .other ul {
        flex-direction: column;
        width: 100%;
        background-color: white;
    }

    .other {
        overflow: hidden;
        width: 100%;
        position: relative;
        height: 100%;
    }

    nav {
        position: absolute;
        height: 0;
        transition: all 1s;
    }

    .container {
        flex-direction: column;
        align-items: baseline;
        justify-content: end;
    }

    .other ul li a {
        width: 100%;
        color: black;
        text-align: center;
    }

    .left {
        width: 100%;
        margin: 0;
    }

    .my-name {
        font-size: 25px;
    }

    .heading {
        font-size: 27px;
    }

    .right {
        width: 100%;
        margin-bottom: 0;
    }

    .my-image {
        width: 54%;
        max-width: 60%;
        margin: auto;
        position: relative;
        left: 26%;
    }

    .right::before {
        right: 2rem;

    }

    .right::after {
        left: 0rem;
        width: 40rem;
        height: 59rem;
        transform: rotate(89deg);
        top: 4rem;
    }

}