nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: background 0.4s;
    padding: 10px 0px;
}

.name {

    height: 45px;
    width: 70px;
}

.piclogo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.other ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.other ul li {
    list-style: none;
    cursor: pointer;
    position: relative;
    font-size: 15px;
}

.other ul li a {
    text-decoration: none;
    color: var(--navbar-link-color);
    font-weight: 500;
}

.other ul li a::before {
    position: absolute;
    content: '';
    background-color: var(--theme-red);
    width: 0%;
    height: 5px;
    display: block;
    bottom: -4px;
    transition: all 0.5s;
    border-radius: 5px;
}

.other ul li a:hover::before {
    width: 100%
}


/* Scrolled Nav styling */
nav.scrolled {
    background-color: var(--nav-bg-scrolled);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}

nav.scrolled .navbar-li {
    color: var(--nav-li-scroll);
}

nav.scrolled img {
    filter: var(--svg-filter);
}

nav.scrolled  svg {
    filter: var(--svg-filter);
}

/* From Uiverse.io by Type-Delta */
/* a clone from joshwcomeau.com 
 * but this version runs on pure CSS
 */

.themeToggle svg {
    color: #bbb;
    font-size: 35px;
}


.theme-toggle-btn {
    position: absolute;
    right: 10px;
    top: 10px;
}
