.section {
  position: relative;
  padding: 4% 0;
  margin: 0 20px;
}


.swiper {
  width: 100%;
}


.swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 9;
}

.custom-pagination .swiper-pagination-bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ddd;
  color: black;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: #cb2d3e;
  color: white;
}

.custom-pagination .swiper-pagination-bullet:hover {
  background-color: #aaa;
  cursor: pointer;
}

.slides {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  justify-content: center;
  width: 30vw;
  margin: 5px 0;
  border-radius: 10px;
  width: 100%;
}

.slides-image {
  width: 100%;

}

.slides-image>img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;

}

.slides-content {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 6px 25px;
}

.slides-name {
  font-size: 20px;
  font-weight: 600;

}

.slides-para {
  color: #77818d;
  font-size: 15px;
}

.tech-stacks {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 25px;
}

.tech-stacks>div {
  background-color: #ffeaec;
  color: #cb2d3e;
  padding: 3px 6px;
  font-size: 13.5px;
  border-radius: 10px;
  font-weight: 500;
}

.slides-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}

.swiper-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #cb2d3e;
  font-weight: 500;
  gap: 5px;
}

.github-link {
  background-color: #868c98;
  border-radius: 100%;
  padding: 6px 6px 0px 6px;
  transition: all 0.5s;
  cursor: pointer;
}

.github-link:hover {
  background-color: #cb2d3e;

  & svg {
    fill: white;
  }
}

@media screen and (max-width: 1000px) {
  .section {
    padding: 10% 0;
  }

}

@media screen and (max-width:450px) {
  .custom-pagination {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    justify-items: center;
  }

  .section {
    padding-bottom: 40%;
  }
}