.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.cursor-small {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

.cursor-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 999;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}


body ::selection {
  background-color: rgb(117, 116, 116);
  color: white;
}

.about-section,
.resume {
  background-color: #f8f9fa;
  padding-top: 8%;
}

.about {
  position: relative;
  left: 9%;
  width: fit-content;
  z-index: 9;
  height: 70px;
}

.about-head {
  position: absolute;
  font-size: 38px;
  font-weight: 500;
  z-index: 10;
}

.about-tail {
  font-size: 76px;
  font-weight: bolder;
  opacity: 0.04;
  position: absolute;
  left: -4px;
  z-index: 8;
  pointer-events: none;
  top: -34px;
}

.skills-section {
  padding: 8% 0;
}

.skill-head {
  font-size: 46px;
}

.skill-tail {
  font-size: 72px;
  top: -19px;
  left: 0;
}

.skill {
  display: flex;
  width: 82%;
  margin: auto;
}

.skill-para {
  color: #84888d;
  width: 68%;
}

.width-skills {
  margin-top: 4%;
  transform: rotate3d(0.5, 0, 0.3, 357deg);
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.sk {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 64%;
}

.sk-span {
  color: #84888d;
  font-size: 20px;
  font-weight: 500;

}

.progress {
  position: relative;
}

.progress-bar {
  width: 100%;
  height: 7px;
  background-color: #bec6d1;
  border-radius: 11px;
  display: block;
  position: absolute;
  top: 0;
}

.red-progress {
  position: absolute;
  height: 7px;
  background-color: #cb2d3e;
  border-radius: 11px;
  display: block;
  transition: all 0.5s;
}

.percentage {
  position: absolute;
  right: 20%;
  bottom: 0;
  font-size: 17px;
  font-weight: 600;
  color: gray;
}

.right-skill {
  position: relative;
}

.circle span {
  font-size: 300px;
}

.circle {
  background: url("../assets/num.webp");
  position: absolute;
  bottom: 0;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  background-clip: text;
}

.years {
  position: absolute;
  bottom: 0;
  font-size: 30px;
  left: 5rem;
  font-weight: 500;
}

.resume {
  padding-bottom: 3%;
}

.resume-head,
.resume-tail {
  left: 47%;

}

.resume-head {
  left: 50%;
}

.options {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2px solid #dfdada;
  width: fit-content;
  margin: auto;
  gap: 50px;
  z-index: 8;
  padding: 3px;
}

.options span {
  padding: 5px 10px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.red-span {
  position: absolute;
  width: 50%;
  height: 90%;
  background-color: #cb2d3e;
  left: 0%;
  z-index: -1;
  border-radius: 6px;
  margin: 3px;
  transition: all 0.5s;
}

.swiper-section,
.services {
  padding-top: 10%;
}


.services-tail {
  font-size: 67px;
  left: 45%;
  top: -17px;

}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 29vw);
  gap: 30px;
  margin: 50px 60px;
  justify-items: center;
}

.card-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border: 0.3px solid #e7e2e2;
  min-height: 19rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.card-div svg {
  color: #cb2d3e;
  height: 40px;
  width: 41px;
}

.name-card {
  font-size: 23px;
  font-weight: 500;
  text-align: center;

}

.para-card {
  width: 68%;
  color: #827d7d;
  text-align: center;
}

.big-icon svg {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #827d7d;
  transition: all 0.5s;
  opacity: 0.01;
  z-index: -1;
}

.card-div::after {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  bottom: -99.6%;
  background-color: #cb2d3e;
  overflow: hidden;
  transition: all 0.4s;
}

.card-div:hover {
  transform: scale(1.03);
  border: none;
  box-shadow: 1px 1px 5px 0px rgb(41, 39, 39);

  .big-icon svg {
    width: 36%;
    height: 52%;
    opacity: 0.5;
    color: #f8d2d2;
  }

}

.card-div:hover::after {
  width: 100%;
}

.contact-me {
  background-color: #f8f9fa;
  padding: 5% 0;
}

.footer {
  background-color: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90px;
}

.left-footer {
  width: 20%;
}

.left-footer .name {
  height: 54px;
  width: 40px;
}

.middle-footer {
  color: white;
}

.right-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-footer div a {
  padding: 6px;
  width: fit-content;
  display: block;
  transition: all 0.2s;
  border-radius: 5px;
}

.right-footer div a svg {
  color: white;
}

.right-footer div a:hover {
  background-color: #cb2d3e;
}

.scrolling-btn {
  position: fixed;
  background-color: #cb2d3e;
  right: 8px;
  bottom: 30px;
  padding: 3px 7px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.5s;

  z-index: 6;
}

.scrolling-btn span {
  font-size: 23px;

}

.scrolling-btn:hover {
  transform: rotate(25deg);
}

.svgs {
  position: absolute;
  top: 0;
  right: 18px;
}

.nav-open,
.nav-close {
  color: white;
  display: none;
  z-index: 10;
  position: relative;
  top: 11px;
}

.nav-close {
  color: black;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: aqua;
  display: grid;
  place-items: center;
  animation: zoomin 1.5s infinite alternate-reverse;
  position: relative;
}

.inner {
  background-color: #212121;
  width: 80%;
  height: 80%;
  border-radius: 100%;
}

@keyframes zoomin {
  0% {
    transform: scale(1);
    box-shadow: 0 0 100px 20px rgb(16, 71, 71);
  }

  100% {
    transform: scale(1.5);
    box-shadow: 0 0 100px 20px #000;
  }
}

.loader{
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  z-index:20;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  overflow: hidden;
}
@media screen and (max-width:1300px) {
  .skill {
    width: 64%;
    margin: 0 50px;
  }

  .circle span {
    font-size: 200px;
  }

  .circle {
    bottom: 90px;
  }

  .years {
    bottom: 59px;
    font-size: 26px;
    left: 3rem;
  }

  .cards {
    margin: 20px 14px;
  }

}
.w-70{
  width: 70%;
}
@media screen and (max-width:750px) {
  .cards {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }

  .nav-open {
    display: block;
    color: white;

  }

  .skill {
    flex-direction: column-reverse;
    width: 93%;
    margin: 0 20px;
  }

  .right-skill {
    height: 20rem;
    top: 5rem;
  }

  .skill-para {
    width: 93%;
  }

  .circle,
  .years {
    position: relative;
    text-align: right;
    display: block;
    width: 80%;
  }

  .years {
    bottom: 50%;
  }

  .sk {
    width: 96%;
  }

  .width-skills {
    transform: rotate3d(0, 0, 0, 0deg);
  }

  .resume-head {
    text-wrap: nowrap;
  }

  .resume-head {
    left: 27%;
  }

  .resume-tail {
    left: 22%;
    top: -15px;
    font-size: 62px;
  }

  .right-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:450px) {

  .about-tail,
  .resume-tail,
  .services-tail {
    font-size: 53px;
    left: 5%;
  }

  .about-head,
  .resume-head,
  .services-head {
    font-size: 34px;
    left: 16%;
  }
  .head,.typed-animation{
    font-size: 15px;
  }
  .contact-tail{
    font-size: 44px;
    top: -7px;
    left: 3%;
  }
}